@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
    margin: 0;
    font-family: Roboto;
}

.header {
    background-color: #1f2937;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.logo a {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

li a {
    color: #e5e7eb;
    font-size: 18px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-top: 120px;
    padding-bottom: 120px;
}

.left {
    padding-left: 200px;
}

.right {
    padding-right: 200px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 3px;
    padding-right: 33px;
}

.hero-btn {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    font-size: 18px;
    padding: 8px 30px;
    border-radius: 8px;
}

.img {
    background-color: grey;
    color: #f9faf8;
    text-align: center;
    padding: 80px;
}

h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 34px;
}

.cards {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    width: 160px;
    height: 160px;
    border: 4px solid #3882f6;
    border-radius: 20px;
}

.card-row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 1em;
}

.card-text {
    color: #1f2937;
    font-size: 18px;
    text-align: center;
    padding: 0;
}

.card-column {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-bg {
    background-color: #e5e7eb;
}

blockquote {
    font-size: 36px;
    color: #1f2937;
    padding: 120px 198px;
    font-weight: 300;
}

figcaption {
    display: flex;
    justify-content: end;
    color: #1f2937;
    font-size: 23px;
    font-weight: bold;
    padding-right: 20px;
}

.action-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 60px;
}

.action-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    margin: 20px 180px;
    border-radius: 10px;
    height: 150px;
}


h3 {
    color: #e5e7eb;
    font-size: 25px;
    margin: 0;
}

.action-p  {
    margin: 0;
    font-weight: 300;
}

.action-btn {
    border: 2px solid #e5e7eb;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    padding: 6px 40px;
    font-size: 18px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    font-weight: 300;
}
